* {
    margin: 0;
    padding: 0;
  }
  
  body {
    background-color: #000021;
    color: white;
    font-family: 'Poppins', sans-serif;
  
  }
  
  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    background-color: #12123e;
    overflow: visible;
    position: fixed;
    width: 100%;
    top: 0;

  }
  
  nav ul {
    display: flex;
    justify-content: center;
  }
  
  nav ul li a {
    text-decoration: none;
    color: white;
  }
  
  nav ul li a:hover {
    font-size: 1.02rem;
    color: #9999e2;
  }
  
  nav ul li {
    list-style: none;
    margin: 0 23px;
    position: relative;
  }
  
  .left {
    font-size: 1.5rem;
  }
  
  .firstsection {
    display: flex;
    justify-content: space-around;
    margin: 130px 0;
    align-items: center;
  }
  
  .firstsection>div {
    width: 31%;
  
  }
  
  .leftsection {
    font-size: 32.5px;
  }
  
  .rightsection img {
    width: 450px;
    height: 450px;
    margin: 55px 0;
  }
  
  .purple {
    color: #aa6be4;
  }
  
  #element {
    color: #aa6be4;
  }
  
  /** Second Section **/
  
  .secondsection {
    max-width: 80vw;
    margin: auto;
    height: 80vh;
  }

  main hr {
    border: 0;
    background: #9c97f1;
    height: 1.2px;
    margin: 60px 84px;
  }

  .secondsection h1 {
    font-size: 1.9rem;
  }

  .text-gray {
    color: gray;
  }
  
  .secondsection .box{
    background-color: white;
    width: 80vw;
    height: 2px;
    margin: 56px 0;
    display: flex;
  }

  .secondsection .vertical {
    height: 93px;
    width: 1px;
    background-color: white;
    margin: 0 150px;
  }

  .vertical-text {
    position: relative;
    top: 72px;
    width: 150px;
  }

  .vertical-desc {
    position: relative;
    top: 86px;
    color: gray;
    width: 150px;
    font-size: 9px;
  }

  .image-top {
    width: 23px;
    position: relative;
    top: -32px;
    left: -9px;
  }

  footer {
    background-color: #0e0e1a;
  }

  .footer {
    display: flex;
    padding: 23px 122px ;
    justify-content: space-evenly;
  }

  .footer ul {
    list-style: none;
  }

  .footer > div {
    width: 223px;
  }

  footer .footer-rights{
    text-align: center;
    color: gray;
    padding: 12px 0;
    
  }

  .leftsection .btns{
    padding: 12px;
    background:#1e2167;
    color: white;
    border: 2px solid white;
    border-radius: 6px;
    font-size: 20px;
    cursor: pointer;
  }

  .leftsection .buttons{
    padding: 50px 0;
  }

  .dropdown {
    display: none;
  }
  nav ul li:hover .dropdown {
    display: block;
    position: absolute;
    left: 0;
    top: 100%;
    background-color:#12123e;
    font-size: 11px;
    align-items: center;
   
  }

  .dropdown ul {
    display: block;
    margin: 10px;
  }

  .dropdown ul li{
    width: 130px;
    padding: 10px;
  }

  @media screen and (max-width:600px)
  {
    nav {
      height: 150px;
    }
    .left {
      font-size: 3rem;
    }
    .firstsection>div {
      width: 400px;
      margin-left: 600px;
    
    }
    .leftsection {
      font-size: 6rem;
    }
    .firstsection {
      margin: 300px 280px;
    }
    .leftsection .btns{
      padding: 22px;
      background:#1e2167;
      color: white;
      border: 2px solid white;
      border-radius: 6px;
      font-size: 20px;
      cursor: pointer;
    }
    main hr {
      border: 0;
      background: #9c97f1;
      height: 1.2px;
      margin: 60px 0;
      width: 300%;
    }
    .secondsection .box{
      background-color: white;
      width: 258vw;
      height: 2px;
      margin: 56px 0;
      display: flex;
    }
    .secondsection h1 {
      font-size: 2.9rem;
      margin-bottom: 120px;
    }

    footer .footer-rights{
      text-align: center;
      color: gray;
      width: 90%;
      margin-left: 400px;
      
    }
    footer .footer-first{
      display: flex;
      justify-content: flex-end;
      margin: 5px 500px;
    }

  }

  

